<div class = "capture">
    
</div>
<div class = "container">
  <div class = "sidebar">
      <div class= "sidebar_foto">
        <H1>FOTO</H1>
      </div>
      <div clas = "sidebar_content">
      </div>
  </div>
  
  <div class="navigation_block">
      <router-outlet></router-outlet>
        <nav >
          <nav class = "navigation" routerLink = "/home">HOME</nav>
          <nav class = "navigation" routerLink = "/plan">PLAN</nav>
          <nav class = "navigation" routerLink = "/portfolio">PORTFOLIO</nav>
          <nav class = "navigation" routerLink = "/home">HOME</nav>
        </nav>
        
  </div>
  
</div>
