$back_color: rgb(0, 42, 85);

.capture {
  height: 6vh;
  background-color: $back_color;
  border: 1px solid white;
}

.container {
    position: flex;
    width: 90%;
    height:92vh;
    left: 10%;
    border: 1px solid  $back_color;
    min-height: 110px;
    @media (max-width: 780px) {
        width: 100%; 
        height:90%;
        left: 0;
         }
         
    .sidebar {
         float: left;
          margin-top: 3%;
          border: 1px solid #666666;
          width: 18%;
          min-width: 250px; 
          min-height: 150px; 
          height: 75vh;
          box-shadow: 2px 2px 5px  #666666;
            @media (max-width: 980px) {
                width: 100%; 
                height: 25%;
            }

            .sidebar_foto{ 
                height: 38%;
                min-height: 110px;
                border: 1px solid #666666;
                box-shadow: 2px 2px 5px  #666666;
                    @media (max-width: 980px) {
                        width: 30%; 
                        height: 100%;
                        min-width: 150px; 
                        min-height: 150px; 
                        max-height: 150px; 

                        
                    }
            }
    }
    .navigation_block {
        display: flex;
        width:70%; 
        height: 100%;
        border: 1px solid red;

        @media (max-width: 980px) {
            width: 100%; 
            height: 100%;
        }
             .navigation {
                    display: inline-flex;
                    justify-content: center ;
                    border: 1px solid #666666;
                    box-shadow: 2px 2px 5px  #666666;
                    width:41%; 
                    margin:4%;
                    height: 38vh;
                    min-width: 250px; 
                    min-height: 250px;
                    @media (max-width: 780px) {
                        width: 70%; 
                        margin: 17%;
                        min-width: 250px; 
                        min-height: 250px;
                        max-width: 350px; 
                        max-height: 350px;
                    }


            } 
        }
        
}